<launch>
  <node 
    pkg="scene_identification_tagging" 
    type="execute" 
    name="semantic_srv"       args="it.emarolab.scene_identification_tagging.SemanticService" 
    output="screen"
  />

 <node 
    pkg="scene_identification_tagging" 
    type="execute" 
    name="episodic_srv"       args="it.emarolab.scene_identification_tagging.EpisodicService" 
    output="screen"
  />
 <node 
    pkg="scene_identification_tagging" 
    type="execute" 
    name="score_srv"       args="it.emarolab.scene_identification_tagging.ScoreService" 
    output="screen"
  />



</launch>

